.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-left: 1%;
}
.left {
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
  width: 35vw;
  padding-left: 1%;
}
.left li {
  list-style: none;
}
.right {
  width: 50vw;
  padding-right: 5%;
}
.admin {
  display: flex;
  flex-direction: column;
}
.admin button {
  width: 5%;
}
